.portfolio-container{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:25px;
color:#c65d3d;
}

.portfolio-container h1{
font-family:"Cormorant";
font-size:100px;
font-weight:500;
}

.subtitulo{
letter-spacing:6px;
font-size:20px;
}

.portfolio-box{
border:2px solid #c65d3d;
border-radius: 30px;
padding:40px 80px;
margin-top:20px;   
}

.portfolio-box h2{
font-family:"Cormorant";
font-size:45px;
margin-bottom:20px;
margin-left:10px;
}

.portfolio-box ul{
list-style:disc;
padding-left:20px;
font-size: 25px;
}

.portfolio-box li{
margin-bottom:20px;
}

.portfolio-box a{
color:#c65d3d;
text-decoration:underline;
}

.voltar{
color:#c65d3d;
text-decoration:underline;
position:absolute;
top:20px;
left:40px;
font-size: 25px;
}