.novidades-container{
min-height:100vh;
display:flex;
flex-direction:column;
align-items:center;
justify-content:center;
gap:25px;
color:#c65d3d;
}

.novidades-container h1{
font-family:"Cormorant";
font-size:90px;
font-weight:500;
margin-bottom: 10px;
}

.subtitulo{
letter-spacing:6px;
font-size:20px;

}

.novidades-box{
border:2px solid #c65d3d;
border-radius:30px;
padding:40px 60px;
max-width:700px;
margin: -25px;
}

.novidade{
margin-bottom:30px;
}

.novidade h2{
font-family:"Cormorant";
font-size:35px;
margin-bottom:5px;
}

.data{
font-size:14px;
opacity:0.7;
margin-bottom:10px;
}

.novidade p{
line-height:1.6;
}

.voltar{
color:#c65d3d;
text-decoration:underline;
position:absolute;
top:20px;
left:40px;
font-size: 22px;
}